.hero {
  background:black  ;
  /* padding: 90px 20px; */
  border-radius: 30px;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 58px;
  font-weight:bolder;
  margin-bottom: 16px;
}

.hero h2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  color: #dde0ea;
  line-height: 1.6;
}
