.how-it-works {
  padding: 80px 20px;
  background: black;
  text-align: center;
}

.how-it-works h2 {
  font-size: 32px;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  color: grey;
  margin-bottom: 40px;
}

.steps {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  transition: 1s all ease-in-out;
}

.step {
  background:white;
  padding: 30px;
  border-radius: 14px;
  /* border: 2px solid red; */
  /* box-shadow: white 0px 10px 30px rgb(236, 234, 234); */
   box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;;
  transition: .6s all ease ;
}

.step:hover {
  transform: translatey(-10px);
  box-shadow: 0 20px 50px rgba(174, 65, 65, 0.1);
}

.step span {
  font-size: 40px;
}

.step h3 {
  margin-top: 15px;
  font-size: 20px;
}

.step p {
  font-size: 14px;
  color: #475569;
  margin-top: 8px;
}
