.form-section {
  max-width: 500px;
  /* height: 450px; */
  margin: 80px auto;
  background: #171717;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.upload-btn {
  display: block;
  background: white;
  border: 2px solid white;
  color: black;
  padding: 14px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  font-size: 14px;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid gray;
  margin-bottom: 25px;
  resize: none;
}

button {
  background: #E5E5E5;
  width: 100%;
  color: #171717;
  font-size: 14px;
  padding: 12px 24px;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont;
  border: none;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
}
.file-name {
  margin: 8px 0 16px;
  font-size: 13px;
  color: gray;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
